@font-face {
  font-family: 'RHFont-semibold';
  src: url('fonts/FONTTI_rh_Pitch-Semibold.otf');
}

@font-face {
  font-family: 'RHFont-light';
  src: url('fonts/FONTTI_rh_Pitch-Light.otf');
}

@font-face {
  font-family: 'RHFont-bold';
  src: url('fonts/FONTTI_rh_Pano-Bold.otf');
}

body {
  font-family: 'RHFont-semibold', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'RHFont-bold';
}
